.filter-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  gap: 2rem;
  padding: 1rem;
  font-family: 'Inter' sans-serif;
}

@media screen and (min-width: 700px) {
  .filter-button {
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    gap: 3rem;
  }

  .filter-button {
    gap: 7rem;

    & img {
      height: 80px;
      width: 80px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .filter-button {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    padding: 1rem;
    font-family: 'Inter' sans-serif;
    grid-template-columns: repeat(5, 1fr);
    gap: 8rem;
  }
}
