.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(71, 69, 69, 100%);
    background-color: rgb(205, 242, 173, 100%);
    padding: 0.5rem;
    border-radius: 1rem;
  }

  & img {
    max-width: 250px;
  }

  & button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    margin: 0.5rem;

    & img {
      width: 30px;
    }
  }

  & .info_description {
    padding-left: 0.4rem;
  }
}

@media (min-width: 700px) {
  .main-card {
    max-width: 20rem;
    & .info {
      margin-left: 82rem;
      gap: 0.5rem;
    }
    & button {
      margin-left: 83rem;
    }
  }
}
