.container__footer {
  background-color: rgba(205, 242, 173, 1);
  padding: 50px;
  color: rgba(94, 127, 66, 1);
  font-family: 'Poppins';
  font-style: Medium;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.container__footer .footer-title {
  font-size: 30px;
  margin-left: 10px;
}
.container__footer .title-small {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: rgba(94, 127, 66, 1);
  line-height: 16.69px;
  margin-left: 10px;
}
.container__footer .small-menu {
  display: flex;
  font-size: 14px;
  font-family: 'Rubik';
  flex-direction: column;
  justify-content: space-between;
  color: rgba(94, 127, 66, 1);
  margin-left: 0;
}
.container__footer .menu-list {
  list-style: none;
}
.container__footer .list-logo {
  display: flex;
  justify-content: first baseline;
  flex-direction: row;
}

@media screen and (min-width: 700px) {
  .container__footer {
    flex-direction: row;
  }
}
