* {
  box-sizing: border-box;
}

.my-beers {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Inter', sans-serif;
  color: rgba(94, 127, 66, 1);
}
.card-detail {
  grid-row: 1/4;
  grid-column: 1/4;
}

// @media screen and (min-width: 700px) {
//.my-beers {
// width: 100%;
//padding: 2rem;
// h2 {
// width: 100%;
//font-size: 2rem;
//}
// }
// }
