.my-beers {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  h2 {
    color: rgba(94, 127, 66, 1);
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 700px) {
  .my-beers {
    width: 100%;
    padding: 2rem;
    h2 {
      width: 100%;
      font-size: 2rem;
    }
  }
}
